html *{
    font-family: Arial, Helvetica, sans-serif;
    
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #13450561;
    

}
.imgBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/herbes-chats.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* BARRE DE NAVIGATION */

header {
    background-color: transparent;
    padding: 10px 20px;
    z-index: 10;
}

.navBarre {
    position: relative;
    background-color: transparent;
    padding: 10px 0;
    height: 50px;
    z-index: 10;
    
}

.navGauche, .navDroite {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    display: flex;     
    flex-direction:row;     
    flex-wrap: wrap;     
}

.navGauche {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px; 
}

.navDroite a{
    text-align: center;
}

.navDroite {
    right: 0;
    padding-right: 20px;
    text-align: center;
}

.navBarre a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
}

.navBarre a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navBarre a:hover {
    transition: transform 0.3s ease;
}

.navBarre a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* BARRE DE RECHERCHE */

.barreRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barreRecherche input {
    width: 200px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.barreRecherche button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: black;
    color: #010101;
    border-radius: 40%;
    cursor: pointer;
}

.barreRecherche button:hover {
    background-color: #555;
}




/* CORPS DE PAGE */

.titreAccueil{
    text-align: center;
    margin-top: 15%;

    color: #ffffff;
    font-size: 20px;


}

@keyframes flecheBas {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
.fleche-bas{
    width: 70px;
    cursor: pointer;
    animation:flecheBas 2s infinite;
    top: 80vh;
    position: absolute;
    right: 50%;
}

/* WIKI HERBE A CHAT */
.wikiHerbeAchat{
    z-index: -10;
    width: 50%;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin: 250px auto auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.wikiHerbeAchat p{
    text-align: justify;
}

.carte-faq{
    width: 70%;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin: 50px auto auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.reponse{
    display: none;
    text-align: justify;


}

.question{
    cursor: pointer;
    text-align: left;
    color: #134505;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.fleche-simple{
    float: right;
    width: 30px;
}


/* FOOTER DE PAGE */


footer {
    bottom: 0;
    margin-top: 1000px;
    background-color: #333;
    color: white;
    text-align: center; 
    padding: 10px; 
    width: 100%;
}

