/* BARRE DE NAVIGATION */
header {
    background-color:  rgb(37, 37, 37);
    padding: 10px 20px;
    z-index: 10;
}

.navBarre {
    position: relative;
    background-color: rgb(37, 37, 37);
    padding: 10px 0;
    height: 50px;
    z-index: 10;
}

.navGauche, .navDroite {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.navGauche {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px; 
}

.navDroite a{
    text-align: center;
}

.navDroite {
    right: 0;
    padding-right: 20px;
    text-align: center;
}

.navBarre a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
}

.navBarre a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navBarre a:hover {
    transition: transform 0.3s ease;
}

.navBarre a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* BARRE DE RECHERCHE */

.barreRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barreRecherche input {
    width: 200px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.barreRecherche button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: black;
    color: #010101;
    border-radius: 40%;
    cursor: pointer;
}

.barreRecherche button:hover {
    background-color: #555;
}
/*HTML*/
html *{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html::-webkit-scrollbar{
    display: none;
}

/*Filtre*/
.filtre {
    position: sticky;
    top: 50px;
    bottom: 100px; 
    text-align: start;
    display: block;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    border: solid white 2px;
    border-radius: 20px;
    padding: 15px;
}


.filtre a{
    border: solid white 1px;
    text-decoration: none;
    color: white;
    padding: 6px;
    border-radius: 20px;
    margin-left: 47px;
    margin-bottom: 10px;
}
.filtre a:hover{
    border: solid white 3px;
}

.conteneur1 .filtre p{
    margin-right: 15px;
    margin-left: 15px;
    color: white;
    margin-top: 15px;
    align-items: center;
}

.filtre select {
    padding: 6px;
    border: solid black 1px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 15px;

}



/* CORPS DE PAGE */

/*
rendre responsive bientot fait 
(Faire section de meilleur vente / promo)
*/


 .imageHerbe > div {
    position: relative;
    display: inline-block;
 }


.description {
    opacity: 0;
    position: absolute;
    top: 50%; 
    align-items: center;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    white-space: nowrap;
    z-index: 10;
    animation: fadeIn 0.3s ease-in forwards;
    animation-delay: 1s; 
    pointer-events: none;
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
.imgCyperus:hover .description,
.imgPhalangere:hover .description,
.poudre:hover .description,
.imgBambou:hover .description,
.imgBle:hover .description,
.spray:hover .description,
.imgCataire:hover .description,
.imgAvocat:hover .description,
.imgGermandree:hover .description,
.imgMatatabi:hover .description {
    animation: fadeIn 0.3s ease-in forwards 0.3s;
    display: block;
} 

 
.imgCyperus .description,
.imgPhalangere .description,
.poudre .description,
.imgBambou .description,
.imgBle .description,
.spray .description,
.imgCataire .description,
.imgAvocat .description,
.imgGermandree .description,
.imgMatatabi .description {
    animation: fadeOut 0.3s ease-out forwards; 
}


body{
    margin: 0;
    overflow-y: scroll;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url('../images/jardin.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

}
.container-total{
    display: flex;
    justify-content: space-evenly;    
}
.conteneur2{
    max-width: 90%;
    flex: 1;
    margin-left: 20px;
}
.conteneur1{
    flex: 0 1 200px;
}

.imageHerbe{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px ;
    margin-left: 12%;
    margin-right: 12%;
    width: 70%;
}



.imageHerbe div{
    text-align: center;    
}
.imageHerbe img {
    width: 250px;
    height: 200px;
    display: block;
    transition: 1.8s ease-in; 
    padding: 15px;  
}
.imageHerbe .ivocat{
    width: 260px;
    height: 220px;
}
.imageHerbe > div{
    margin-right:7px;
}
.imageHerbe > div:hover {
    transform: scale(1.05);
    z-index: 1;
    
}
.imageHerbe div span{
    color: black;
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
    margin-top: 10px;
    background-color: transparent;  
}
.imageHerbe > div {
    border: solid 1px black;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 6px 4px 4px rgb(60, 206, 6);
}

.container-total{
    display: flex;
}

/* FOOTER DE PAGE */

footer{
  background-color: rgba(165,184,159,255);
  padding: 70px 0;
    width:100vw; 
        margin-left: calc(50% - 50vw); 
        color :black
        }
        .footer p{
            text-align: center;
        }
        .footer-col {
        width: 25%;
        padding: 15px;
        display: inline-block; 
        vertical-align: top; 
        }
        
        .footer-col h4 {
        font-size: 18px;
        color: black;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
        }
        .footer-col ul{
            padding-left: 35px;
        }
        .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #000000;
        height: 2px;
        box-sizing: border-box;
        width: 200px;
        }
        
        .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
        }
        
        
        .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: black;
        text-decoration: none;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;
        }
        
        .footer-col ul li a:hover {
        color: black;
        padding-left: 8px;
        }
        
        
        
        /* Section Copyright */
        .copyright {
        text-align: center;
        color: rgb(0, 0, 0);
        margin-top: 20px; 
        padding: 10px 0; 
        }
        
        .copyright h5 {
        font-size: 14px;
        line-height: 1.5;
        margin: 0;
        }
        
        
        /* Responsive */
        @media (max-width: 767px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
        }
        
        @media (max-width: 574px) {
        .footer-col {
            width: 100%;
        }
}


@media screen and (max-width:516px) {
    .filtre{
        display: block;

        flex-direction: column;
        max-width: 200px;
        margin: auto;
    }
    .filtre a,.filtre select{
        margin: auto;
        text-align: center;
        margin-bottom: 3px;
    }
    .filtre .prix p , .filtre .format p , .filtre .effet p {
        text-align: center;
    }
}
@media screen and (max-width: 730px) {
    .filtre {
        display: flex;
        top :0;
        position: static;
        padding:3px;
        width: 96%;
        justify-content: space-around;
    }
    .filtre a{
        margin-top: 9px;
    }
    .prix p{
        text-align: left;
    }
    .container-total{
        display: block;
        justify-content: space-evenly;
    }
    .prix select, .format select, .effet select {
        flex-grow: 1;
    }
    .container-total {
        flex-direction: column;
    }
    
    .conteneur1, .conteneur2 {
        margin-left: 0;
        margin-right: 0;
    }
    
    .conteneur1 {
        order: -1; 
    }
}


