html *{
    font-family: Arial, Helvetica, sans-serif;
     
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #13450561;
}

#text_about_title{
    text-align: center;
}
#formulaire_span{
    background-color: rgb(127, 255, 150);
    margin: auto;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction:column;
    display: flex;
    border-style: solid;
    height: fit-content;
    width: fit-content;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 2vh;
    margin-bottom: 10vh;

}
.field{
    width: calc(50%);
    text-align: center;
    border-width: 2px;
    border-style: outset;
    border-radius: 5px;
    width: auto;
}

.image{
    display: flex;
    z-index: -1;
}

#Content{
    width: calc(50%);
    height:50px;
    text-align: center;
    border-width: 2px;
    border-style: outset;
    border-radius: 5px;
    width: auto;
}

/* BARRE DE NAVIGATION */
#bckg{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../images/Cat-background.webp');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1vh;
    height: 25vh;
}
.title_main{
    color: black;
    text-align: center;
} 
.cardbox{
    background-color: rgba(255,255,255,0.30);
    border-style: groove;
    border-width: 3px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 30px;
    margin-top: 13vh;
    color: black;
    padding: 10px;
    line-height: 2; 
}
#cardboxTitle{
    text-align:start;
    margin:0ch;
    word-spacing: 0vw;
}
#boutton_formulaire{
    background-image: linear-gradient(
        to top left,
        rgba(17, 255, 0, 0.2),
        rgba(19, 194, 0, 0.2),
        rgba(2, 159, 52, 0)
      );
      margin-top: 2vh;
      width: 15vh;
      height: auto;
      border-radius: 5px;
      border-style: solid;
      border-width: 2px;
      border-color: #010101;

}
.navBarre {
    position: relative;
    background-color:  rgb(37, 37, 37);
    padding: 30px;
    height: 50px;
    z-index: 10;
}

.navGauche, .navDroite {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    display: flex;     
    flex-direction: row;     
    flex-wrap: wrap;     
}

.navGauche {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px; 
}

.navDroite a {
    text-align: center;
}

.navDroite {
    right: 0;
    padding-right: 20px;
    text-align: center;
}

.navBarre a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 10px;
    font-size: 3vh;
    position: relative;
}

.navBarre a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.barreRecherche input {
    width: 200px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.barreRecherche button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: black;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.barreRecherche button:hover {
    background-color: #555;
}
/* Footer */

footer{
    background-color: rgb(5, 88, 9);
    padding: 70px 0;
      width:100vw; 
          margin-left: calc(50% - 50vw); 
          }
          .footer p{
              text-align: center;
          }
          .footer-col {
          width: 25%;
          padding: 15px;
          display: inline-block; 
          vertical-align: top; 
          }
          
          .footer-col h4 {
          font-size: 18px;
          color: #ffffff;
          text-transform: capitalize;
          margin-bottom: 35px;
          font-weight: 500;
          position: relative;
          }
          .footer-col ul{
              padding-left: 35px;
          }
          .footer-col h4::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -10px;
          background-color: #000000;
          height: 2px;
          box-sizing: border-box;
          width: 200px;
          }
          
          .footer-col ul li:not(:last-child) {
          margin-bottom: 10px;
          }
          
          
          .footer-col ul li a {
          font-size: 16px;
          text-transform: capitalize;
          color: #ffffff;
          text-decoration: none;
          font-weight: 300;
          display: block;
          transition: all 0.3s ease;
          }
          
          .footer-col ul li a:hover {
          color: #ffffff;
          padding-left: 8px;
          }
          
          
          
          /* Section Copyright */
          .copyright {
          text-align: center;
          color: rgb(0, 0, 0);
          margin-top: 20px; 
          padding: 10px 0; 
          }
          
          .copyright h5 {
          font-size: 14px;
          line-height: 1.5;
          margin: 0;
          }
          
          
          /* Responsive */
          @media (max-width: 767px) {
          .footer-col {
              width: 50%;
              margin-bottom: 30px;
          }
          }
          
          @media (max-width: 574px) {
          .footer-col {
              width: 100%;
          }
        }
.navBarre a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* MENU BURGER NAVIGATION */

#menuToggle {
    display: none;
}
.menuIcon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    padding: 10px;
    z-index: 100;
}

.menuBurger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -55%;
    height: 100%;
    width: 55%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: left 0.3s ease;
    z-index: 100;
}
.menuBurger img {
    width: 80px;
    margin: 0 auto;
    display: block;
}
.titreBurger{
    width: 100%;
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.693);
    padding-bottom: 10px;
}

.menuBurger a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: left;
    padding: 10px 20px;
    width: 50%;
    border-bottom: solid rgba(255, 255, 255, 0.693) 1px;
    margin-top: 25px;
}
.menuBurger .closeBtn {
    font-size: 24px;
    color: #ffffff;
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10px;
}

/* BARRE DE NAV RESPONSIVE */
@media (max-width: 768px) {
    .navGauche, .navDroite {
        display: none;
    }
    .menuIcon {
        display: block;
    }
    
    #menuToggle:checked + .menuBurger {
        left: 0;
    }
}

@media (min-width: 768px) {
    .menuIcon {
        display: none;
    }
    .menuBurger {
        display: none;
    }
}
