html *{
    font-family: Arial, Helvetica, sans-serif;
     
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #13450561;
}

#Titre_bienvenue{
    color: green;
    text-align: center;
}
#formulaire_span{
    background-color: rgb(127, 255, 150);
    margin: auto;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction:column;
    display: flex;
    border-style: solid;
    height: fit-content;
    width: fit-content;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 2vh;
    margin-bottom: 10vh;

}
.field{
    width: calc(50%);
    text-align: center;
    border-width: 2px;
    border-style: outset;
    border-radius: 5px;
    width: auto;
}

.image{
    display: flex;
    z-index: -1;
}

#Content{
    width: calc(50%);
    height:50px;
    text-align: center;
    border-width: 2px;
    border-style: outset;
    border-radius: 5px;
    width: auto;
}

/* BARRE DE NAVIGATION */
header {
    background-color:  rgb(37, 37, 37);
    padding: 10px 20px;
    z-index: 10;
}
#bckg{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../images/Cat-background.webp');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1vh;
    height: 25vh;
}
.title_main{
    color: black;
    text-align: center;
} 
.cardbox{
    background-color: rgba(255,255,255,0.30);
    border-style: groove;
    border-width: 3px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 30px;
    margin-top: 13vh;
    color: black;
    padding: 10px;
    line-height: 2; 
}
#cardboxTitle{
    text-align:start;
    margin:0ch;
    word-spacing: 0vw;
}
#boutton_formulaire{
    background-image: linear-gradient(
        to top left,
        rgba(17, 255, 0, 0.2),
        rgba(19, 194, 0, 0.2),
        rgba(2, 159, 52, 0)
      );
      margin-top: 2vh;
      width: 15vh;
      height: auto;
      border-radius: 5px;
      border-style: solid;
      border-width: 2px;
      border-color: #010101;

}
.navBarre {
    position: relative;
    background-color: rgb(37, 37, 37);
    padding: 10px 0;
    height: 50px;
    z-index: 10;
}

.navGauche, .navDroite {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.navGauche {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px; 
}

.navDroite a{
    text-align: center;
}

.navDroite {
    right: 0;
    padding-right: 20px;
    text-align: center;
}

.navBarre a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
}

.navBarre a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navBarre a:hover {
    transition: transform 0.3s ease;
}

.navBarre a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* BARRE DE RECHERCHE */

.barreRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barreRecherche input {
    width: 200px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.barreRecherche button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: black;
    color: #010101;
    border-radius: 40%;
    cursor: pointer;
}

.barreRecherche button:hover {
    background-color: #555;
}
