html {
    font-family: Arial, Helvetica, sans-serif;

}
body{
    margin: 0;
    padding: 0;
}



/* BARRE DE NAVIGATION */

header {
    background-color:  rgb(37, 37, 37);
    padding: 10px 20px;
    z-index: 10;
}

.navBarre {
    position: relative;
    background-color: rgb(37, 37, 37);
    padding: 10px 0;
    height: 50px;
    z-index: 10;
}

.navGauche, .navDroite {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.navGauche {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px; 
}

.navDroite a{
    text-align: center;
}

.navDroite {
    right: 0;
    padding-right: 20px;
    text-align: center;
}

.navBarre a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
}

.navBarre a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navBarre a:hover {
    transition: transform 0.3s ease;
}

.navBarre a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* BARRE DE RECHERCHE */

.barreRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barreRecherche input {
    width: 200px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.barreRecherche button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: black;
    color: #010101;
    border-radius: 40%;
    cursor: pointer;
}

.barreRecherche button:hover {
    background-color: #555;
}

/* Footer */
footer{
    background-color: rgba(165,184,159,255);
    padding: 70px 0;
      width:100vw; 
          margin-left: calc(50% - 50vw); 
          color :black
          }
          .footer p{
              text-align: center;
          }
          .footer-col {
          width: 25%;
          padding: 15px;
          display: inline-block; 
          vertical-align: top; 
          }
          
          .footer-col h4 {
          font-size: 18px;
          color: black;
          text-transform: capitalize;
          margin-bottom: 35px;
          font-weight: 500;
          position: relative;
          }
          .footer-col ul{
              padding-left: 35px;
          }
          .footer-col h4::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -10px;
          background-color: #000000;
          height: 2px;
          box-sizing: border-box;
          width: 200px;
          }
          
          .footer-col ul li:not(:last-child) {
          margin-bottom: 10px;
          }
          
          
          .footer-col ul li a {
          font-size: 16px;
          text-transform: capitalize;
          color: black;
          text-decoration: none;
          font-weight: 300;
          display: block;
          transition: all 0.3s ease;
          }
          
          .footer-col ul li a:hover {
          color: black;
          padding-left: 8px;
          }
          
          
          
          /* Section Copyright */
          .copyright {
          text-align: center;
          color: rgb(0, 0, 0);
          margin-top: 20px; 
          padding: 10px 0; 
          }
          
          .copyright h5 {
          font-size: 14px;
          line-height: 1.5;
          margin: 0;
          }
          
          
          /* Responsive */
          @media (max-width: 767px) {
          .footer-col {
              width: 50%;
              margin-bottom: 30px;
          }
          }
          
          @media (max-width: 574px) {
          .footer-col {
              width: 100%;
          }
  }